.backButton {
    padding: 8px;
    text-decoration: none;
    border: 1px solid #8e8f99;
    border-radius: 10px;
    border-color: teal;
    background-color: #fff;
    color: teal;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 20px;
  
  }
  
  .backButton:hover,
  .backButton:focus  {
    background-color: teal;
    color: #fff;
    border-color: teal;
  }
  
  .button {
    padding: 8px;
    width: 88px;
    border: 1px solid #8e8f99;
    border-radius: 10px;
    border-color: teal;
    background-color: #fff;
    color: teal;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
  }
  .button:hover,
  .bbutton:focus {
    background-color:teal;
    color: #fff;
    border-color: teal;
  }
  
  .wrap {
    display: flex;
  }
  
  .image {
    margin-right: 20px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
  }
  
  .link {
    font-size: 14pt;
  }
  
  .listItem {
    text-decoration: none;
    border: 1px solid #8e8f99;
    border-color:teal;
    color: teal;
    cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  width: 88px;
  border-radius: 10px;
  display: flex;
  padding: 7px 4px;
  justify-content: center;
  margin-top: 16px;
  }
  
  
  .listItem:hover,
  .listItem:focus {
    background-color: teal;
    color: #fff;
    border-color: teal;
  }
  
  .additionalInfo {
    border-bottom: 3px solid teal;
    border-top: 3px solid teal;
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    display: flex;
    column-gap: 24px;
  }
  
  
  .item {
    color: #2a2a2a;
    
  }
  
  .item:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .additional{
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }