.list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  
  .item {
    font-size: 14pt;
    color: #2a2a2a;
    cursor: pointer;
    width: max-content
  }
  
  .item {
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
  }
  
  
  
   .item:hover {
    text-decoration: underline; 
    color: teal; 
    border-radius: 4px; 
    transition: all 0.3s ease; 
    background-color: rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    transform: scale(1.08);
    
  }